---
layout: page
title: "Portfolio"
description: "Showcasing My Work"
header-img: "img/portfolio-bg.jpg"
multilingual: false
---

{% include multilingual-sel.html %}

<!-- Portfolio Section -->
<div class="portfolio-container">
    <h1>My Portfolio</h1>
    <p>Explore my projects in Product Management, Software Development, and Machine Learning.</p>

    <div class="projects-grid">
        {% for project in site.portfolio %}
        <div class="project-item">
            <h3 class="project-title">
                <a href="{{ project.url | prepend: site.baseurl }}">{{ project.title }}</a>
            </h3>
            <p class="project-description">{{ project.description }}</p>
            {% if project.image %}
            <img src="{{ project.image | prepend: site.baseurl }}" alt="{{ project.title }}" class="project-image">
            {% endif %}
            <a href="{{ project.url | prepend: site.baseurl }}" class="project-link">Read More</a>
        </div>
        {% endfor %}
    </div>
</div>

{% if site.disqus_username %}
<!-- Disqus Comment Section -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread"></div>
</div>

<!-- Disqus Public JS Code -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
{% endif %}
